<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>طلب قبول مركز تعليمي - عوالمنا</title>
    <link rel="icon" href="../static/Website.jpg">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="success-box" style="text-align: center;">
        <header>
        </header>
        <!-- صورة الموقع بالمنتصف -->
        <img src="../static/Website.jpg" width="250" height="250">
        <h2>شكرا لثقتكم</h2>
        <p>تم استلام طلب مركز <strong></strong> بنجاح</p>
        <p>سيتم مراجعة الطلب من قبل الإدارة خلال 24-48 ساعة عمل</p>
        <p>وسنتواصل معكم عبر البريد الإلكتروني للمتابعة</p>
        <a href="website.html" class="btn">العودة إلى الصفحة الرئيسية</a>
    </div>
</body>

</html>