<header>
    <div class="location" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <div style="display: flex; align-items: center; gap: 12px;">
            <a href="/awallimna/website" style="display: flex; align-items: center; text-decoration: none;">
                <img src="../Website.jpg" alt="صورة الموقع" height="50" width="50">
                <span style="color: #fff; margin-right: 8px; font-size: 2rem; font-weight: bold; text-decoration: none;">عوالمنا</span>
            </a>
        </div>
        <div style="display: flex; gap: 10px;">
            <a href="../website">
                <button class="website-button">الرئيسية</button>
            </a>
            <a href="/awallimna/login">
                <button class="logout-button">تسجيل دخول</button>
            </a>
        </div>
    </div>
</header>

<br><br>

<div class="category-box" style="border-radius: 25px;">
    <ul>
        <li><a href="comedy.html" class="category-title">كوميديا</a></li>
        <li><a href="science_fiction.html" class="category-title">خيال علمي</a></li>
        <li><a href="fiction.html" class="category-title">خيال</a></li>
        <li><a href="romance.html" class="category-title">الرومانسي</a></li>
        <li><a href="crime_investigation.html" class="category-title">جريمة وتحقيق</a></li>
        <li><a href="horror.html" class="category-title">الرعب</a></li>
        <li><a href="adventure.html" class="category-title">مغامرة</a></li>
        <li><a href="drama.html" class="category-title">دراما</a></li>
        <li><a href="historical.html" class="category-title">تاريخي</a></li>
        <li><a href="theft.html" class="category-title">سرقة</a></li>
        <li><a href="war.html" class="category-title">حرب</a></li>
        <li><a href="fantasy.html" class="category-title">فانتازي</a></li>
        <li><a href="children.html" class="category-title">اطفال</a></li>
    </ul>
</div>