{% extends 'base.html' %}
{% block content %}
<h1>تسجيل الدخول</h1>
<p>نموذج تسجيل الدخول.</p>
<form method="POST" action="/login">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li style="color:red">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <label for="username">اسم المستخدم أو البريد الإلكتروني:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">كلمة المرور:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="checkbox" id="remember_me" name="remember_me">
    <label for="remember_me" value="true">تذكرني</label><br>
    <input type="submit" value="دخول">
    <p><a href="forgot_password.html">نسيت كلمة المرور؟</a></p>
    <p>ليس لديك حساب؟ <a href="/register">سجل الآن</a></p>
</form>
{% endblock %}